@page
@model Mission10_ajames26.Pages.PurchaseModel
@{
}

<h2>Cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.cart.CartItems)
        {
            <tr>
                <td>
                    @item.Book.Title
                </td>
                <td>
                    @item.Book.Price
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @(item.Book.Price * item.Quantity)
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">
                Total:
            </td>
            <td>@Model.cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Keep Shopping</a>
    <a class="btn btn-danger" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Check Out</a>
</div>